<template>
  <div class="bg-gray-200 min-h-screen p-12">
    <div class="bg-white rounded-lg shadow-2xl max-w-4xl mx-auto p-12">
      <h1 class="text-gray-500 text-3xl font-bold text-center mb-12">
        User List
      </h1>
      <section class="text-center">Create the user list here</section>
    </div>
  </div>
</template>

<script>
export default {
  setup() {},
};
</script>

<style>
</style>